<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
  <p>User name：<%= book.user.name %></p>
</div>

<% end %>